* {
    box-sizing: border-box;
}

body {
    font-family: 'Alata', sans-serif;
    background: linear-gradient(45deg, #330000, #410054);
    height: 100vh;
    color: white;
}

.container {
    max-width: 360px;
    margin: 0 auto;
}

.heading {
    font-weight: normal;
}

.time {
    /* max-width: 200px; */
    font-size: 1.6rem;
    padding: 0.8rem 0;
    margin-bottom: 0.6rem;
}

.time__item {
    position: relative;
}

.time__item::after {
    position: absolute;
    left: 0;
    bottom: -0.8rem;
    letter-spacing: 6px;
    color: rgb(178, 96, 175);
    font-size: .8rem;
}

.time__hours::after {
    content: 'hrs';
}

.time__minutes::after {
    content: 'mins';
}

.time__seconds::after {
    content: 'secs';
}

.time__milliseconds::after {
    content: 'ms';
}

.laps {
    margin-top: 1rem;
}

.laps__head {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 0.6rem;
}

.laps__list {
    padding-left: 0;
    list-style: none;
    max-height: calc(40vh + 100px);
    overflow-y: auto;
}

.laps__list>li {
    padding: .2rem 0;
    letter-spacing: 1.8px;
}

.laps__list__number {
    font-size: 2rem;
    opacity: 0.2;
    margin-right: 0.4rem;
    letter-spacing: initial;
}

.control__btn {
    -webkit-appearance: none;
    background: none;
    color: rgba(255, 159, 255, 0.6);
    box-shadow: 0px 0px 6px -2px rgba(255, 255, 255, 0.4);
    padding: 0.6rem 1rem;
    margin-bottom: 0.2rem;
    width: 100%;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-size: 0.7rem;
    border: solid 1px;
    transition: 0.2s;
    cursor: pointer;
}

.control__btn:hover {
    /* background: rgba(255, 255, 255, 0.2); */
    box-shadow: 0px 0px 10px -2px rgba(255, 255, 255, 0.5), inset 0 0 10px rgba(255, 255, 255, 0.5);
    color: #fff;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row--gutters {
    margin-left: -0.2rem;
    margin-right: -0.2rem;
}

.row--gutters>[class*="col-"] {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

[class*="col-"] {
    flex-grow: 1;
}